.button {
  height: 40px;
  width: 27%;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 1px;
  border-color: black;

}

.select_button {
  height: 40px;
  width: 27%;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 1px;
  border-color: black;
  background-color: rgb(254, 100, 106);
}

#title_input{
  width:500px;
  background-color: whitesmoke;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  size: "100";
}

#notes_input{
  background-color: whitesmoke;
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  size: "100";
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

.button-Group{
  /* border: 1px;
  padding: 10px; */
  height: auto;
  width:100%;
  cursor: pointer;
  float: left;
}

.button-Group::after{
  clear: both;
  display: table;
}

.button:hover{
  background-color: bisque;
}

.select_button:hover{
  /* background-color: rgb(109, 253, 26); */
  background-color: bisque;
}