button {
  height: 300px;
  width: 300px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 1px;
}
/* to make style of button */



button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}