button {
  height: 50px;
  width: 500px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 1px;
}

#input{
  background-color: whitesmoke;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  size: "100";
}


button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

.button-Group{
  /* border: 1px;
  padding: 10px; */
  cursor: pointer;
  float: left;
}

.button-Group::after{
  clear: both;
  display: table;
}

.button-Group button:hover{
  background-color: bisque;
}